body {
    background: url("./Images/herringbone.png") !important;
    background-position: center;
    background-size: cover;
}

h2 {
     font-size: 40px;
     color: grey;
}

h3 {
    margin-top: 7%;
    color: grey;
}

h4 {
    font-size:16px;
    background-color: teal;
    padding: 1%;
    color: white;
}

.answ{
    margin-left: 5%;
}

#timer{
    border: 0px;
    background-color: white;
}

.show-onclick{
    margin-top:7%;
}

.button-answer{
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    display: inline-block;
    font-weight: 400;
    padding: .375rem .75rem;
    line-height: 1.5;
    border-radius: .25rem;
}

#high-score{
    margin-top: 3%;
    list-style-type: none;
 }